<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingForStuff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Buy Our Stuff</h1>
      <h3>Make Us Rich</h3>

      <nav>
        <%= link_to image_tag("horse2.jpg", width:150), root_path%>
        <ul>
          <li>
            cart
            <% if cart.present? %>
              <sup><%= cart.size %></sup>
              <ul>
                <% cart.each do |product| %>
                  <li>
                    <%= product.name %> <%= button_to '➖', cart_path(product), method: :delete %>

                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        </ul>
      </nav>

    </header>
    <main>
    <p>
      <%= debug session[:shopping_cart] %>
    </p>
      <% if flash[:notice] %>
        <p>
          <%= flash[:notice] %>
        </p>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <details>
        <summary>
            Cart
            <% if cart.present? %>
              <sup><%= cart.size %></sup>
            <% end %>
        </summary>
        <% if cart.present? %>
          <ul>
            <% cart.each do |product| %>
              <li>
                <%= product.name %> <%= button_to '❌', cart_path(product.id), method: :delete, form_class: "btnRemove" %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No items in your cart.</p>
        <% end %>
      </details>
      <hr>
      <p><span>🐐</span> Goats in Coats <span>🧥</span> - Copywrong <%= Time.current.year %></p>
 </footer>
  </body>
</html>
