<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingForStuff</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <% #javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav>
	<% # link_to image_tag("rename_me.jpg", width:60), root_path %>
	<ul>
		<li>
			Cart
			<% if cart.present? %>
				<sup><%= cart.size %></sup>
				<ul>
					<% cart.each do |product| %>
						<li>
							<%= product.name %> <%# link_to '➖', cart_path(product), method: :delete %>
               <%= button_to "❌", cart_path(product), method: :delete %>
            </li>
					<% end %>
				</ul>
			<% end %>
		</li>
	</ul>
</nav>
    <header>
      <section>
        <% #debug cart %>
        <%= debug session[:shopping_cart] %>
      </section>
    </header>
    <main>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <details>
        <summary>
            Cart
            <% if cart.present? %>
              <sup><%= cart.size %></sup>
            <% end %>
        </summary>
        <% if cart.present? %>
          <ul>
            <% cart.each do |product| %>
              <li>
                <%= product.name %> <%# link_to '❌', cart_path(product), method: :delete %>
                <%= button_to "❌", cart_path(product), method: :delete %>

              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No items in your cart.</p>
        <% end %>
      </details>
      <hr>
      <p><span>🐐</span> Goats in Coats <span>🧥</span> - Copywrong <%= Time.current.year %></p>
 </footer>
  </body>
</html>
